<div id="public-message" class="message">
  <div class="outside-individual-public-message">
  <% if message.user.username == current_user.username %>
    <div class="current-user-messages">
  <% else %>
    <div class="other-user-messages">
  <% end %>
      <div class="individual-public-message">
        <div id="chat-user-image">
          <% if message.user.avatar.blank? %>
            <%= image_tag "cherry-blossom.png", class: 'sakura-avatar' %>
          <% else %>
            <%= image_tag(message.user.avatar.to_s, :class => 'avatar') %>
          <% end %>
        </div>
        <div id="chat-username">
          <%= message.user.username %>
          <p id="message-content">
          <%= message.content %>
          </p>
        </div>
      </div>
    </div>
    <% if message.user.username == current_user.username %>
      <div class="current-user-date">
    <% else %>
      <div class="other-user-date">
    <% end %>
      <% if message.created_at.to_date == Date.current %>
          <div><%= message.created_at.strftime("today at %l:%M %p") %></div>
        <% elsif message.created_at.to_date == Date.current - 1 %>
          <div><%= message.created_at.strftime("yesterday at %l:%M %p") %></div>
        <% else %>
          <div><%= message.created_at.strftime("%m/%d/%Y") %></div>
        <% end %>
    </div>
  </div>
</div>