<div id="public-message" class="message" data-sender-id="<%= message.user.id %>">
  <div class="outside-individual-public-message">
    <div class="user-messages">
      <div class="individual-public-message">
        <div id="chat-user-image">
          <% if message.user.avatar.blank? %>
            <%= image_tag "cherry-blossom.png", class: 'sakura-avatar' %>
          <% else %>
            <%= image_tag(message.user.avatar.to_s, :class => 'avatar') %>
          <% end %>
        </div>
        <div id="chat-username-and-message">
          <div class="username-bolden"><%= message.user.username %></div>
          <p id="message-content">
          <%= message.content %>
          </p>
        </div>
      </div>
    </div>
    <div class="user-date">
      <% if message.created_at.to_date == Date.current %>
        <div><%= message.created_at.strftime("today at %l:%M %p") %></div>
      <% elsif message.created_at.to_date == Date.current - 1 %>
        <div><%= message.created_at.strftime("yesterday at %l:%M %p") %></div>
      <% else %>
        <div><%= message.created_at.strftime("%m/%d/%Y") %></div>
      <% end %>
      <div><%= link_to "delete", chat_room_message_path(message.chat_room, message), method: :delete, class: 'delete-message-margin' %></div>
    </div>
  </div>
</div>