<h1 id="chat-rooms-header">chat rooms</h1>
<div id="chat-room-layout">
  <div id="chat-list-and-box">
    <div id="chat-list-top-bar">
      <div>
        <%= link_to 'kanji keeper chat', '#' %>
      </div>
      <div id="new-chat-room-link">
        <%= link_to 'new chat', new_chat_room_path %>  <i class="fas fa-plus-circle"></i>
      </div>
    </div>
    <div id="chat-room-list">
      <% current_user.chat_rooms.each do |chat_room| %>
      <div class="individual-chats">
      <ul>
        <li><%= link_to "#{chat_room.title}", chat_room %></li>
        <%# link_to "#{chat_room.title}", chat_room_path(chat_room) %>
      </ul>
      </div>
      <% end %>
    </div>
  </div>
  <div id="chat-box-and-type-here">
    <div id="chat-box">
      <div id="chat-messages-container">
        <%# render :partial => 'client/info' %>
      </div>
    </div>
    <div id="chat-type-here">
      <%# render :partial => 'chat_rooms/textbox' %>
    </div>
  </div>
</div>


<!-- original index

<h1 id="chat-rooms-header">chat rooms</h1>
<div id="chat-room-layout">
  <div id="chat-list-and-box">
    <div id="chat-list-top-bar">
      <div>
        <%= link_to 'kanji keeper chat', '#' %>
      </div>
      <div id="new-chat-room-link">
        <%= link_to 'new chat', new_chat_room_path %>  <i class="fas fa-plus-circle"></i>
      </div>
    </div>
    <div id="chat-room-list">
      <% current_user.chat_rooms.each do |chat_room| %>
      <div class="individual-chats">
      <ul>
        <li><%= link_to "#{chat_room.title}", chat_room %></li>
        <%# link_to "#{chat_room.title}", chat_room_path(chat_room) %>
      </ul>
      </div>
      <% end %>
    </div>
  </div>
  <div id="chat-box-and-type-here">
    <div id="chat-box">
      <div id="chat-messages-container">
        <%# render :partial => 'client/info' %>
      </div>
    </div>
    <div id="chat-type-here">
      <%# render :partial => 'chat_rooms/textbox' %>
    </div>
  </div>
</div>

-->