<%# form_for(@chat_room_users) do |f| %>
  <%# f.email_field :email, :placeholder => "invite a user", :required => true %>
  <%# f.submit "add user to chat room" %>
<%# end %>
<div>
  <%= link_to 'edit', edit_chat_room_path(@chat_room) %>
  <%= link_to 'leave', chat_room_chat_room_users_path(@chat_room), method: :delete %>
  <% if current_user.id == ChatRoom.find(params[:id]).user_id %>
    <%= link_to 'destroy', @chat_room, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%# link_to 'join', chat_room_chat_room_users_path(chat_room), method: :post %>
</div>
<%= form_for([@chat_room, @chat_room_user]) do |f| %>
  <%= select_tag "user_id", options_from_collection_for_select(User.all_except(current_user), "id", "username") %> 
  <%= f.submit "invite to chat" %>
<% end %>

<h1><%= @chat_room.title %></h1>
<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>

<form>
  <label>Say something:</label><br/>
  <input type="text" data-behavior="room_speaker">
</form>
