<div class='edit-user-account'>
  <h2 class="edit-account-header">account preferences</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true,  placeholder: "email", autocomplete: "email", :class => 'form-field-design form-width edit-account-form' %>
    </div>

    <div class="field">
      <%= f.text_field :username, autofocus: true, autocomplete: "username", :class => 'form-field-design form-width edit-account-form' %>
    </div>

    <div class="field">
      <%= f.text_field :bio, autofocus: true, placeholder: 'profile description', autocomplete: "profile description", :class => 'form-field-design form-width edit-account-form' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "new password (leave blank if not needed)", :class => 'form-field-design form-width edit-account-form' %>
      <!-- <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %> -->
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm new password (if needed)", :class => 'form-field-design form-width edit-account-form' %>
    </div>

    <div class="field">
      <div class="user-icon">select a profile image:</div>
      <label class="browser-avatar-label needs-bottom-margin">
        <%= f.file_field :avatar, autofocus: true, :class => 'avatar-field-design hidden-icon-input' %>+
      </label>
    </div>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "enter current password to save changes", :class => 'form-field-design form-width edit-account-form' %>
    </div>

    <div class="actions theta">
      <%= f.submit "save changes", :class => 'btn btn-tetrary black-btn' %>
    </div>
  <% end %>
  <!--
  <div class="cancel-account">
    <h3>cancel account</h3>
    <p><%= button_to "cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
  -->
</div>