<h2>Favorites</h2>
<% @posts.each do |post| %>
<div class="expression-card">
  <ul>
    <li><%= post.user.username %></li>
    <li><%= post.expression %></li>
    <li><%= post.reading %></li>
    <li><%= post.meaning %></li>
  </ul>
  <%= link_to "Read more", post_path(post) %>
</div>
<% end %>