<div class="user-profile-container">
  <div class="user-profile-image-div">
    <div>
      <% if @user.avatar.blank? %>
        <%= image_tag "cherry-blossom.png", class: 'empty-avatar', alt: 'default user profile icon' %>
      <% else %>
        <%= cl_image_tag(@user.avatar, :class => 'profile-avatar', secure: true, alt: 'user profile icon') %>
      <% end %>
    </div>
  </div>
  <div class="user-profile-bio-div">
    <div>
      <h2 class="profile-username-header"><%= @user.username %>'s profile</h2>
        <% if @user.bio.blank? %>
          <div>user hasn't added a bio yet :'(</div>
        <% else %>
          <div class="user-bio-content"><%= @user.bio %></div>
        <% end %>
      </div>
    <div class="profile-stats">
      <div>
        <div>posts</div>
        <% if current_user.username === @user.username %>
          <div><%= link_to @posts.count, user_posts_path(current_user) %></div>
        <% else %>
          <%= @posts.count %>
        <% end %>
      </div>
      <div>
        <div>favorites</div>
        <% if current_user.username === @user.username %>
          <div><%= link_to @favorites.count, favorites_path %></div>
        <% else %>
          <%= @favorites.count %>
        <% end %>
      </div>
    </div>
  </div>
</div>