<div class="kanji-card animated bounceInLeft delay-2">
  <%# unless post.photo.blank? %>
    <%# image_tag(post.photo.to_s, :class => "post-image") %>
  <%# end %>
  <% if post.photo.blank? %>
    <div class="no-pic-post">
      <div class="top-card-features">
        <div>
          <% if post.user.avatar.blank? %>
              <%= image_tag "cherry-blossom.png", class: 'sakura-avatar', alt: 'default user icon' %>
          <% else %>
            <%= cl_image_tag(post.user.avatar, :class => 'avatar', secure: true, alt: 'user icon') %>
          <% end %>
          <%= link_to post.user.username, user_path(post.user.username), class: 'profile-url' %>
        </div>
        <% if user_signed_in? %> 
          <% before_fav = post.favorites.find { |fav| fav.user_id == current_user.id }  %>
          <% if before_fav %>
            <%= link_to ('<i class="fas fa-heart lesser-buttons"></i>').html_safe, post_favorite_path(post, before_fav, { redirect_to: root_path }), method: :delete, :class => "top-fav". 'aria-label' => 'unfavorite post' %>
          <% else %>
            <%= link_to ('<i class="far fa-heart lesser-buttons"></i>').html_safe, post_favorites_path(post, { redirect_to: root_path }), method: :post, :class => "top-fav", 'aria-label' => 'favorite post' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
  <div class="top-card card-image-padding" div style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cloudinary_url(post.photo, secure: true) %>);">
    <div class="top-card-features">
      <div>
        <% if post.user.avatar.blank? %>
              <%= image_tag "cherry-blossom.png", class: 'sakura-avatar', alt: 'default user icon' %>
          <% else %>
            <%= cl_image_tag(post.user.avatar, :class => 'avatar', secure: true, alt: 'user icon') %>
          <% end %>
        <%= link_to post.user.username, user_path(post.user.username), class: 'profile-url-with-img' %>
      </div>
      <% if user_signed_in? %> 
        <% before_fav = post.favorites.find { |fav| fav.user_id == current_user.id }  %>
        <% if before_fav %>
          <%= link_to ('<i class="fas fa-heart lesser-buttons"></i>').html_safe, post_favorite_path(post, before_fav, { redirect_to: root_path }), method: :delete, 'aria-label' => 'unfavorite post' %>
        <% else %>
          <%= link_to ('<i class="far fa-heart lesser-buttons"></i>').html_safe, post_favorites_path(post, { redirect_to: root_path }), method: :post, 'aria-label' => 'favorite post' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="card-additional-info">
    <p><i class="far fa-heart"></i> <span class="right-margin"><%= post.favorites.count %></span></p>
    <p><i class="far fa-comment"></i> <span class="right-margin"><%= post.comments.count %></span></p>
    <% if post.private %>
      <p><i class="fas fa-lock lock-margin"></i></p>
    <% end %>
  </div>
  <div class="bottom-card-padding">
    <div class="inner-card">
      <ul>
        <li class="big-kanji"><span class="furigana-card add-furigana"><%= post.expression %></span></li>
        <li class="italic-meaning">"<%= post.meaning %>"</li>
        <% unless post.content.blank? %>
          <li class="card-content-alignment post-content-urls"><%= Rinku.auto_link(post.content, :all, 'target="_blank"').html_safe %></li>
        <% end %>
      </ul>
    </div>
    <div class="card-buttons smol-padding">
      <div>
        <% if user_signed_in? && current_user == post.user %>
          <div class="edit-and-delete">
            <span class="link-margin lesser-buttons"><%# link_to "edit", edit_post_path(post) %></span>
            <span class="link-margin lesser-buttons"><%= link_to "delete", post_path(post), method: :delete, class: 'to-the-left to-the-right' %></span>
        <% end %>
          <div id="date-border-div">
            <span class="date-border"><%= time_ago_in_words(post.created_at).upcase %> AGO</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>