<h2>All posts</h2>
<% @posts.each do |post| %>
<div class="expression-card">
  <ul>
    <li><%= post.user.username %></li>
    <li><%= post.expression %></li>
    <li><%= post.reading %></li>
    <li><%= post.meaning %></li>
    <li><%= post.content %></li>
  </ul>
  <% if user_signed_in? && current_user == post.user %> 
    <%= link_to "Edit", edit_post_path(post) %>
    <%= link_to "Delete", post_path(post), method: :delete %>
  <% end %>
</div>
<% end %>
<% if user_signed_in? %>
  <%= link_to "New post", new_post_path() %>
<% end %>
