<div class="home-layout">
  <div class="all-posts"> 
    <% @posts.each do |post| %>
    <div class="kanji-card">
      <%# unless post.photo.blank? %>
        <%# image_tag(post.photo.to_s, :class => "post-image") %>
      <%# end %>
      <% if post.photo.blank? %>
        <div class="no-pic-post">
          <div class="top-card-features">
            <% unless post.user.avatar.blank? %>
              <%= image_tag(post.user.avatar.to_s, :class => 'avatar') %>
              <% end %>
            <%= post.user.username %>
            <% if user_signed_in? %> 
              <% before_fav = post.favorites.find { |fav| fav.user_id == current_user.id }  %>
              <% if before_fav %>
                <%= link_to ('<i class="fas fa-heart"></i>').html_safe, post_favorite_path(post, before_fav, { redirect_to: root_path }), method: :delete, :class => "top-fav" %>
              <% else %>
                <%= link_to ('<i class="far fa-heart"></i>').html_safe, post_favorites_path(post, { redirect_to: root_path }), method: :post, :class => "top-fav" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% else %>
      <div class="top-card" div style="background-image: url(<%= post.photo.to_s %>);">
        <div class="top-card-features">
          <% unless post.user.avatar.blank? %>
            <%= image_tag(post.user.avatar.to_s, :class => "avatar") %>
          <% end %>
          <%= post.user.username %>
          <% if user_signed_in? %> 
            <% before_fav = post.favorites.find { |fav| fav.user_id == current_user.id }  %>
            <% if before_fav %>
              <%= link_to ('<i class="fas fa-heart"></i>').html_safe, post_favorite_path(post, before_fav, { redirect_to: root_path }), method: :delete %>
            <% else %>
              <%= link_to ('<i class="far fa-heart"></i>').html_safe, post_favorites_path(post, { redirect_to: root_path }), method: :post %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
      <div class="bottom-card-padding">
        <div class="inner-card">
          <ul>
            <li class="big-kanji"><span class="furigana-card add-furigana"><%= post.expression %></span></li>
            <li><%= post.meaning %></li>
            <% unless post.content.blank? %>
              <li><%= post.content %></li>
            <% end %>
          </ul>
        </div>
        <div class="card-bottom-info">
          <p><%= time_ago_in_words(post.created_at) %> ago</p>
          <p><i class="far fa-heart"></i> <span class="right-margin"><%= post.favorites.count %></span></p>
          <p><i class="far fa-comment"></i> <span class="right-margin"><%= post.comments.count %></span></p>
          <%= link_to "Comment", post_path(post) %>
          <% if user_signed_in? && current_user == post.user %> 
            <%= link_to "Edit", edit_post_path(post) %>
            <%= link_to "Delete", post_path(post), method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="sidebar-layout">
    <div id="user-sidebar">
      <% if user_signed_in? %>
          <%= render 'layouts/sidebar' %>
      <% end %>
    </div>
    <div id="daily-kanji">
      <h2 id="kanji-title">Daily Kanji</h2>
      <div id="under-kanji-title">
        <p class="needs-furi stroke-order"></p>
        <p class="kunyomi">Kun readings: </p>
        <p class="onyomi">On readings: </p>
        <p class="word-definition">Definition: </p>
        <p class="jisho-url"></p>
      </div>
    </div>
  </div>
</div>
