<h2>Create a new post</h2>
<%= form_for(@post) do |f| %>
  <ul>
    <li><%= f.text_field :expression, :placeholder => "Japanese expression", :required => true %></li>
    <li><%= f.text_field :meaning, :placeholder => "English meaning", :required => true %></li>
    <li><%= f.text_field :content, :placeholder => "Additional comments" %></li>
    <li><%= f.file_field :photo %></li>
    <li>Private: <%= f.check_box :private %></li>
  </ul>
  <%= f.submit %>
<% end %>
