<div class="new-post-layout">
  <div class="new-post-card animated bounceIn">
    <h2 class="new-post-header animated pulse infinite slow delay-3s">create a new post</h2>
    <%= form_for(@post) do |f| %>
      <ul>
        <li class="jap-eng">
          <li><%= f.label :expression, :class => "new-post-label" %><%= f.text_field :expression, :required => true, :class => "new-post-margin new-post-each" %></li>
          <li><%= f.label :meaning, :class => "new-post-label" %><%= f.text_field :meaning, :required => true, :class => "new-post-margin new-post-each" %></li>
        </li>
        <li><%= f.label :content, :class => "new-post-label" %><%= f.text_area :content, :class => "new-post-each big-blog" %></li>
        <li class="additional-info">
          <li class="photo-input"><%= f.label :photo, 'User icon' %>: <%= f.file_field :photo %></li>
          <li><%= f.label :private %>: <%= f.check_box :private %></li>
        </li>
      </ul>
      <div class="new-post-button">
        <%= f.submit "create post" %>
      </div>
    <% end %>
  </div>
</div>
