<div class="home-layout">
  <div class="all-posts"> 
    <div class="kanji-card-container">
      <%= render partial: "card", locals: { post: @post } %>
    </div>
  </div>
  <div id="comments">
      <% @post.comments.each do |comment| %>
      <div class="comment-outer">
        <div class="post-comment">
          <div id="comment-avatar">
            <% if comment.user.avatar.blank? %>
                <%= image_tag "cherry-blossom.png", class: 'sakura-avatar' %>
              <% else %>
                <%= image_tag(comment.user.avatar.to_s, :class => 'avatar') %>
              <% end %>
          </div>
          <div id="comment-user-and-content">
            <%= comment.user.username %>:
            <%= comment.content %>
          </div>
          <div id="comment-date">
            <% if comment.updated_at != comment.created_at %>
              <%= comment.created_at.strftime("%d/%m/%Y") %> (edited)
            <% else %>
              <%= comment.created_at.strftime("%d/%m/%Y") %>
            <% end %>
          </div>
          <% if user_signed_in? && current_user == comment.user %>
          <div id="comment-options">
            <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
            <%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    <div class="new-comment">
      <%= form_for([@post, @comment]) do |f| %>
        <%= f.text_field :content %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
