<div class="home-layout">
  <div class="all-posts"> 
    <div class="kanji-card-container">
      <%= render partial: "card", locals: { post: @post } %>
    </div>
  </div>
  <div class="old-and-new-comments">
    <div class="post-comments">
      <h3>Comments (<%= @post.comments.count %>)</h3>
      <% @post.comments.each do |comment| %>
        <% unless comment.user.avatar.blank? %>
            <%= image_tag(comment.user.avatar.to_s, :class => 'avatar') %>
          <% end %>
        <%= comment.user.username %>: <br/>
        <%= comment.content %></li><br/>
        <% if comment.updated_at != comment.created_at %>
          <%= comment.created_at.strftime("%d/%m/%Y") %> (edited)
        <% else %>
          <%= comment.created_at.strftime("%d/%m/%Y") %>
        <% end %>
        <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
        <%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
        <br/>
        <br/>
      <% end %>
    </div>
    <div class="post-a-comment">
      <h3>Post a comment</h3>
      <%= form_for([@post, @comment]) do |f| %>
        <%= f.text_field :content %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
