<ul class="navbar-nav">
  <div class="kanji-nav">
    <div class="logo-font lesser-buttons">
      <%= link_to root_path do %>
        kanji<%= image_tag "cherry-blossom.png", class: "cherry-logo", size: '24x20' %>keeper
      <% end %>
    </div>
    <li class="nav-item dropdown btn-group">
      <div class="flex-nav">
        <div class="theta" >
          <%= link_to new_post_path() do %>
            <div class="btn btn-tetrary">new post</div>
          <% end %>
        </div>
<!--    <span class="left-nav lesser-buttons thicc"><%= link_to 'favorites', favorites_path %></span> -->
        <a class="nav-link nav-hack" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars lesser-buttons"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'my profile', user_posts_path(current_user), class: 'dropdown-item' %> 
          <%= link_to 'my account', edit_user_registration_path, class: 'dropdown-item' %>
          <%= link_to 'faq', faq_path, class: 'dropdown-item' %>
          <%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </div>
    </li>
  </div>
</ul>

